<div style="width: 50%; margin-left: 25%;">
    <mat-card *ngFor="let projectEntry of projectEntries?.items" style="margin-top: 15px;" class="card" (click)="navigate(projectEntry.id)">
        <div>
            <h2>{{projectEntry.pname}}</h2>
            <p>{{projectEntry.type}}</p>
            <small>Client: {{projectEntry.client.name}}</small>
        </div>
    </mat-card>

    <mat-paginator
    [length]="projectEntries?.meta!.totalItems"
    [pageSize]="projectEntries?.meta!.itemsPerPage"
    [pageSizeOptions]="[5,10,25,100]"
    (page)="pageEvent = $event; onPaginateChange($event)"
    >

    </mat-paginator>
</div>